<br>
<mat-card>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput
      formControlName="email"
      placeholder="youremail@corp.com"
      >
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput
      formControlName="password"
      placeholder="Your password"
      >
    </mat-form-field>
    <br>
    <button mat-raised-button
    color="accent"
    type="submit">
    login
    </button>
  </form>
</mat-card>