<br>
<mat-card>
  <form [formGroup]="codeForm" (ngSubmit)="add()" >
    
    <mat-form-field>
      <mat-label>langugae</mat-label>
        <mat-select
          formControlName="language"
          placeholder="Plain Text"
        >
          <mat-option *ngFor="let lan of languages"
          value="{{lan}}">
            {{lan}}
          </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>content</mat-label>
      <textarea
        matInput
        rows="4"
        formControlName="content"
        placeholder="Coding here"
        ></textarea>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      width="auto"
      type="submit">Add
    </button>
    <button
      mat-raised-button
      color="accent"
      type="button"
      (click)="search()">Search
    </button>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="clear(codeForm)">Clear
    </button>
    <br>
    <mat-divider></mat-divider>
    <mat-form-field>
      <mat-label>performance</mat-label>
      <textarea 
      matInput
      label="performance"
      placeholder="Code performance"
      disabled value="{{codeForm.value.performance}}">
      </textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>result</mat-label>
    <textarea 
    matInput
    label="result"
    placeholder="Code result"
    disabled value="{{codeForm.value.result}}">
    </textarea>
</mat-form-field>
  </form>
</mat-card>
<br>



<!-- <mat-card> -->
  <h2 style="color: black;">All Codes</h2>
  <!-- <mat-card-header>
    <mat-card-title>All Codes</mat-card-title>
  </mat-card-header> -->
<!-- <h1>All codes</h1> -->
<!-- <ul class="codes"> -->
<mat-paginator
  [length]="codesNo"
  [pageSize]="codespp"
  [pageIndex]="currentPage"
  [pageSizeOptions]="psoptions"
  [showFirstLastButtons]="true"
  (page)="onChangedPage($event)"
  >
  <!-- *ngIf="displayedCodes.length>0"     -->
</mat-paginator>

<div *ngFor="let code of displayedCodes" >
  <mat-card>
  <div *ngIf="code==editCode; then saves else edits"></div>
  <ng-template #saves>
    <form [formGroup]="editingForm" (ngSubmit)="edit()" >
      <mat-form-field>
      <mat-label>langugae</mat-label>
        <mat-select
          disableRipple   
          formControlName="language"
          placeholder="Plain Text"
          value="{{editingForm.value.language}}"
        >
          <mat-option *ngFor="let lan of languages"
          value="{{lan}}">
            {{lan}}
          </mat-option>
        </mat-select>
    </mat-form-field>
        <!-- <mat-divider></mat-divider>  -->
        <mat-form-field>
          <mat-label>content</mat-label>
        <textarea 
          matInput
          id="content"
          placeholder="Code Content"
          formControlName="content"
          value="{{editingForm.value.content}}"
          ></textarea>
        </mat-form-field>
      <span>
      <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="edit()">
      Save</button>
      <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="editCode=undefined; ">
      Cancel</button>
    </span>
      </form>
  </ng-template>
<ng-template #edits>
    <mat-form-field>
      <mat-label>langugae</mat-label>
        <mat-select 
          disabled value="{{code.language}}"
        >
          <mat-option value="{{code.language}}">
            {{code.language}}
          </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-divider></mat-divider>
    <mat-form-field>
    <mat-label>content</mat-label>
    <textarea 
    matInput
    label="content"
    placeholder="Code Content"
    disabled value="{{code.content}}"
  ></textarea>
</mat-form-field>
<button
    mat-raised-button
    color="accent"
    type="Edit"
    (click)="editCode=code; patch(editCode);">Edit
  </button>
</ng-template>
    <button
      mat-raised-button
      color="warn"
      type="Delete"
      (click)="delete(code)"
      >Delete</button>

      <mat-form-field>
        <mat-label>performance</mat-label>
        <textarea 
        matInput
        label="performance"
        placeholder="Code performance"
        disabled value="{{code.performance}}">
        </textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>result</mat-label>
      <textarea 
      matInput
      label="result"
      placeholder="Code result"
      disabled value="{{code.result}}">
      </textarea>
  </mat-form-field>
      <br>
    </mat-card>
  </div>
  <mat-paginator
    [length]="codesNo"
    [pageSize]="codespp"
    [pageIndex]="currentPage"
    [pageSizeOptions]="psoptions"
    [showFirstLastButtons]="true"
    (page)="onChangedPage($event)"
    >
    <!-- *ngIf="displayedCodes.length>0"     -->
  </mat-paginator>
<!-- </mat-card> -->

